# Port that the server will run on Default is 3000
# Uncomment the line below to change the port
# PORT=3000

# Print the Hono routes to the console true/false
SHOW_ROUTES=true

# Set development mode true/false
DEV_MODE=true

# Auth Variables
# Passkey RP ID is just the domain
AUTH_SECRET=""
PASSKEY_RP_ID="localhost"
PASSKEY_ORIGIN="http://localhost:3000"
ORIGIN="http://localhost:3000"

# MongoDB Connection String
DATABASE_URL="mongodb://<mongo_host>/<db_name>?retryWrites=true&w=majority&directConnection=true"

# Eclipse Variables
ECLIPSE_URL=""
ECLIPSE_USER=""
ECLIPSE_PASS=""

# Default Admin Credentials
DEFAULT_ADMIN_EMAIL=""
DEFAULT_ADMIN_PASSWORD=""
DEFAULT_ADMIN_NAME=""