# Port that the server will run on Default is 3000
# Uncomment the line below to change the port
# PORT=3000
# Print the Hono routes to the console true/false
SHOW_ROUTES=true
# Set development mode true/false
DEV_MODE=true

DATABASE_URL="mongodb://"
ECLIPSE_URL="http://"
ECLIPSE_USER=""
ECLIPSE_PASS=""
ORIGIN="http://localhost:3000"