@import 'tailwindcss';
@plugin 'daisyui' {
	themes: light --default;
}

body,
main {
	background-color: rgb(0, 43, 127);
	min-height: 100vh;
	min-width: 100vw;
	overflow-x: hidden;
}

@layer components {
	.paper {
		@apply rounded-xl bg-base-300 p-5 shadow-xl;
	}
}
